body {
	border-color: rgba(245, 158, 11, 0.2);
	border-width: 2px;
	border-radius: 5px;
	margin: auto;
	max-width: 1500px;
}

html {
	overflow: hidden;
}

html, body, a,
.no-cursor {
	cursor: url("../assets/cursor.png") 3 3, default !important;
}
